@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
/*llamado a fuente: font-family: 'Montserrat', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/*  INDEX  */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}

/*  FOOTER      */
.footer {
  width: 100%;
  height: 60px;
  background-color: #000000;
}
.footer p {
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: small;
  padding-top: 50px;
  background-color: #000000;
  padding-bottom: 25px;
}

.footer-nav {
  background-color: #000000;
}
.footer-nav .nav-link {
  color: white;
}

/*     NAV     */
/*     NAV     */
nav {
  background-color: rgba(230, 230, 230, 0.7411764706);
  font-family: "Montserrat", sans-serif;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu {
  list-style: none;
  text-align: right;
  padding: 12px;
  margin: 0;
}

.menu li a {
  display: block;
  width: 100%;
  padding: 6px;
}

.navbar-brand:hover, .nav-link:hover {
  color: #d89700;
}

/*     IMAGENES BANNER  */
.img-banner, .baner img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.video-banner video {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.carrusel-2 {
  background-color: #000000;
}
.carrusel-2 img {
  height: 400px;
  padding: 30px;
  width: 100%;
  object-fit: contain;
}

/*      MAIN INDEX    */
.row-caja {
  background-color: #000000;
  height: 400px;
}

.row .c2 p, .icon {
  color: #ffb100;
  font-weight: bolder;
  font-size: x-large;
}

.row .c1 {
  background-color: #000000;
  padding: 15px;
}
.row .c1 img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.row .c1-1 {
  background-color: #000000;
  padding: 15px;
}
.row .c1-1 img {
  width: 90%;
  height: 500px;
  object-fit: contain;
}

.row .c3 {
  background-color: #000000;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  font-size: small;
  font-weight: lighter;
  padding: 20px 100px;
}
.row .c3 p {
  color: white;
  text-align: justify;
  padding: 20px;
  border-style: groove;
  border-radius: 10px;
  font-size: medium;
}

/*  Tarjetas Index   */
.tarjetas {
  padding: 20px;
  background-color: #000000;
}
.tarjetas .tarjeta {
  background-color: #000000;
  align-items: center;
}
.tarjetas .tarjeta img {
  height: 500px;
  width: 95%;
  object-fit: cover;
}
.tarjetas .tarjeta img:hover {
  height: 550px;
  width: 100%;
  box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn {
  background-color: #464646;
  color: white;
  margin: 2px;
}
.btn:hover {
  background-color: #ffb100;
  color: black;
  box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.cajap {
  background-color: #000000;
  width: 100%;
  height: 300px;
}
.cajap p {
  color: white;
  font-weight: lighter;
  padding: 10px;
  text-align: justify;
}
.cajap h2 {
  color: #ffb100;
}

/*     MAIN PROYECTO 1     */
.desc {
  padding: 20px;
  background-color: #000000;
}
.desc p {
  font-weight: lighter;
  color: white;
  font-size: large;
  padding: 50px;
  text-align: justify;
  width: 100%;
}
.desc h1, .desc h2, .desc h3 {
  color: #ffb100;
}

/* MAIN CONTACTO */
.map iframe {
  padding: 20px;
  width: 100%;
  height: 500px;
  background-color: #000000;
}

.cont {
  background-color: white;
  height: 75px;
}

.formulario {
  background-color: #000000;
}
.formulario label {
  color: #ffb100;
}

@media only screen and (max-width: 768px) {
  .desc p {
    font-size: smaller;
  }
  .desc h1 {
    text-align: center;
    font-size: xx-large;
  }
}

/*# sourceMappingURL=main.css.map */
