@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
/*llamado a fuente: font-family: 'Montserrat', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;

  
}

/*  INDEX  */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    }
